@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)); /*Anulamos la variante para controlarlo desde un selector*/

@theme {
  /* Tipografías */
  --font-title: "Geist", sans-serif;
  --font-paragraph: "Inter", sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 390px;
}